{% extends 'website/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Запис на консультацію у гінеколога Віктора Косменюка. Залиште свої контактні
     дані та коментар, і отримайте відповідь від лікаря. Гінекологічна консультація та відповіді на питання щодо
      здоров'я жінок." />

    <meta name="keywords" content="консультація гінеколога, запис на консультацію, Віктор Косменюк, здоров'я жінок,
     гінекологічна консультація, контактні дані, коментар, лист, відповідь лікаря" />


    <meta name="author" content="Віктор Косменюк">


    {% block title %}
        Запис на Консультацію | Віктор Косменюк
    {% endblock %}
</head>

{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Консультація</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Головна</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Консультація</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    <div style="text-align: center;">
        <h1>Запис на Консультацію</h1><br>
            <strong>Ім'я: </strong>{{ your_name }}<br>
            <strong>Контактний номер: </strong>{{ your_phone }}<br>
            <strong>E-mail: </strong>{{ your_email }}<br>
            <strong>Коментар: </strong>{{ your_text }}<br>
            <br><br>
        <h5>Я отримав вашого листа та скоро відповім вам!</h5>
    </div>
    <br><br><br><br>
{% endblock %}


