{% extends 'website/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Офісна гістероскопія та біопсія шийки матки: методи, показання, протипоказання.
     Офісна діагностична гістероскопія для виявлення та лікування гінекологічних захворювань. Біопсія ендометрію: безболісний
      та малоінвазивний метод забору тканин для дослідження.">

    <meta name="keywords" content="Офісна гістероскопія, біопсія шийки матки, діагностика гінекологічних захворювань,
    малоінвазивна процедура, гінекологія, жіноче здоров'я, біопсія ендометрію, методи дослідження, показання, протипоказання">

    <meta name="author" content="Віктор Косменюк">


    {% block title %}
        Гістероскопія та Біопсія ендометрія | Віктор Косменюк
    {% endblock %}
</head>


{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Гістероскопія та Біопсія ендометрія</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Головна</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'methods' %}">Методи Лікування</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'diagnose_methods' %}">Діагностичні Методи</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Гістероскопія та Біопсія ендометрія</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
   <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Методи</p>
                <h1>Гістероскопія та Біопсія ендометрія</h1>
            </div>

            <div class="wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="text-color size-text">
                        <p><strong style="font-size: 25px;">Офісна гістероскопія</strong> — метод візуального дослідження порожнини матки
                            за допомогою оптичної системи гістероскопа для діагностики та лікування ряду гінекологічних
                            захворювань, що проводиться в амбулаторних умовах.</p>

                        <ul>
                          <li>Висока точність - чутливість від 94%, специфічність від 89%</li>
                          <li>Малоінвазивна та безпечна процедура</li>
                          <li>5-20 хвилин на весь процес</li>
                        </ul>

                        <p>Офісна діагностична гістероскопія дозволяє в амбулаторних умовах, відразу під час прийому,
                            виявити причини та провести діагностику різних гінекологічних захворювань таких як:</p>

                        <ul>
                          <li>Підозра на безпліддя через патологію матки, невиношування вагітності (спонтанні викидні)</li>
                          <li>Підготовка до проведення запліднення in vitro, особливо після невдалої спроби</li>
                          <li>Порушення менструального циклу у жінок репродуктивного віку (надто рясні або занадто мізерні місячні)</li>
                          <!-- Add other items as needed -->
                        </ul>

                        <p><strong>Офісна діагностична гістероскопія</strong> – це безболісна малотравматична процедура діагностики патології
                            матки та цервікального каналу, виявлення причин безпліддя, дисфункціональних маткових кровотеч,
                            різних утворень і аномалій розвитку тощо. Для проведення процедури використовуються офісні жорсткі
                            або гнучкі гістероскопи діаметром до 5 мм (звичайну гістероскопію проводять ендоскопом з діаметром
                            9 мм), зображення виводитися на екран, є можливість відеофіксації. Обстеження проводиться амбулаторно,
                            прямо на прийомі у гінеколога, не вимагає розширення шийки матки, відповідно нема потреби в наркозі
                            та в госпіталізації.</p>

                        <p>Тиск середовища розширення значно нижче, ніж при гістерорезектоскопії
                            (40-60 мм.рт.ст. проти 100 мм.рт.ст.). В результаті немає болю і немає травми. Процедура безболісна,
                            цілком достатньо місцевої анестезії лідокаїном, ультракаїном. При високому больовому порозі можливе
                            проведення дослідження під медикаментозним сном (загальним наркозом).</p>

                        <p><strong>Офісна лікувальна (хірургічна) гістероскопія</strong> – проводитися з метою прицільної
                            біопсії, корекції та лікування виявленої патології. Під час процедури через офісний операційний
                            гістероскоп діаметром до 5 мм проводяться спеціальні додаткові інструменти, які дозволяють
                            гінекологу взяти прицільну біопсію, видалити поліпи матки та цервікального каналу, прибрати
                            спайки (синехії), розсікти перегородки, провести резекцію та абляцию ендометрія. Разом з
                            гістероскопом для різання і коагуляції (зупинки кровотечі) може використовуватися різне
                            обладнання – електрохірургічне високочастотне, радіохвильове, ультразвуковий скальпель,
                            хірургічний діодний лазер.</p>

                        <p><strong>Офісна гістероскопія є «золотим» стандартом діагностики та лікування</strong> в сучасній гінекології.
                            Роль діагностичної гістероскопії — оцінка порожнини матки, діагностика внутрішньоматкових
                            патологій та прицільна біопсія.</p>

                        <br><br>

                        <p><strong style="font-size: 25px;">Біопсія ендометрію</strong> – це діагностична процедура, під час
                            якої лікар проводить забір невеликого фрагмента ендометрію (слизової оболонки) внутрішньої
                            оболонки матки для лабораторного дослідження. Зазвичай під час класичної біопсії ендометрію
                            необхідно розширювати шийку матки під анестезією, оскільки це болісна процедура.</p>

                        <p>Процедура може проводитися під контролем <strong>гістероскопа, щипцями</strong>. Або малоінвазивно,
                            спеціальним мініатюрним зондом – <strong>пайпелем</strong> (тонка трубка з поршнем усередині),
                            в амбулаторних умовах, безболісно для пацієнтки. Лікар вводить пайпель в порожнину матки та,
                            витягаючи поршень, створює в трубці негативний тиск. В результаті чого в трубку всмоктуються
                            мікроскопічні частинки ендометрію з різних ділянок. Отриманий матеріал відправляється на
                            гістологічне дослідження в лабораторію. <strong>Цей метод має значні переваги, порівняно з діагностичним
                            вишкрібанням порожнини матки:</strong></p>

                        <ul>
                          <li>Не викликає ускладнень;</li>
                          <li>Метод не вимагає розширення цервікального каналу;</li>
                          <li>Без застосування загального наркозу;</li>
                          <li>Тривалість процедури 2-3 хвилини під місцевою анестезією;</li>
                          <li>Проводиться амбулаторно;</li>
                          <li>Безболісний;</li>
                          <li>Виключена ймовірність інфікування (інструмент пайпель – одноразовий);</li>
                          <li>Підвищена достовірність результатів і можливість взяття зразка тканини з різних ділянок.</li>
                        </ul>

                        <p><strong>Показання до проведення пайпель-біопсії:</strong></p>

                        <ul>
                          <li>Хронічний ендометрит;</li>
                          <li>Наявність поліпів ендометрію;</li>
                          <li>Порушення менструального циклу;</li>
                          <li>Кровотечі в середині циклу, в період менопаузи та приймання гормональних препаратів;</li>
                          <!-- Add other items as needed -->
                        </ul>

                        <p><strong>Протипоказання до пайпель-біопсії:</strong></p>

                        <ul>
                          <li>Гострі запальні захворювання;</li>
                          <li>Виражена анемія, патології системи гемостазу;</li>
                          <li>Психічні розлади;</li>
                          <li>Вагітність.</li>
                        </ul>
                    </div>

                    <br><br>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="{% url 'diagnose_methods' %}">Назад</a>
                </div>
            </div>
       </div>
   </div>
   </div>
   </div>


{% endblock %}