{% extends 'website/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Гістероскопія – метод візуального огляду порожнини матки
     і цервікального каналу за допомогою гістерорезектоскопа. Дізнайтеся про види гістероскопії,
      показання та протипоказання, лікування гіперплазії ендометрію, аденоміозу, поліпів та інших захворювань." />

    <meta name="keywords" content="гістероскопія, гістерорезектоскоп, діагностична гістероскопія,
     лікувальна гістероскопія, гіперплазія ендометрію, аденоміоз, поліпи тіла матки, субмукозна міома,
      синдром Ашермана, показання та протипоказання до гістероскопії" />

    <meta name="author" content="Віктор Косменюк">


    {% block title %}
        Гістероскопія | Віктор Косменюк
    {% endblock %}
</head>




{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Гістероскопія</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Головна</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'methods' %}">Методи Лікування</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'quick_methods' %}">Оперативні Методи</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Гістероскопія</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
   <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Методи</p>
                <h1>Гістероскопія</h1>
            </div>

            <div class="wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="text-color size-text">
                        <p><strong>Гістероскопія</strong> – це візуальний огляд стінок порожнини матки і цервікального каналу за допомогою тонкого оптичного приладу.</p>

                        <p><strong>Гістерорезектоскоп</strong> має діаметр від 7 до 10 мм, порт для введення додаткових інструментів та петлю, за допомогою якої проводиться резекція патологічних утворень.</p>

                        <p>Суть процедури полягає в тому, що ендоскопічний прилад, який називається гістероскоп, вводять через цервікальний канал у порожнину матки. Завдяки цьому гінеколог у режимі реального часу може оцінити стан порожнини матки, трубних кутів та шийки матки.</p>

                        <p>Цей метод дозволяє виконувати як діагностичні, так і лікувальні процедури, з мінімальною травматизацією, без додаткових розрізів і абсолютно безболісно, так як процедура відбувається під внутрішньовенним наркозом.</p>

                        <p><strong>ВИДИ ГІСТЕРОСКОПІЇ</strong></p>
                        <ul>
                          <li>діагностична гістероскопія (її також називають офісною гістероскопією);</li>
                          <li>лікувальна (хірургічна гістероскопія, гістерорезектоскопія).</li>
                        </ul>

                        <p><strong>Діагностична гістероскопія</strong> проводиться для виявлення внутрішньоматкової патології. Наприклад, у пацієнтки є скарги на маткові кровотечі, але при УЗД органів малого таза патології не виявлено. Тоді на допомогу приходить офісна гістероскопія (діагностична), яка дозволяє виявити наявність перегородок, спайок, поліпів, міом, що ростуть в порожнину матки.</p>

                        <p><strong>Хірургічна (лікувальна) гістероскопія</strong> проводиться вже для лікування виявленої патології. Для чого її використовують? Щоб прицільно, не травмуючи весь ендометрій, видалити поліпи ендометрію або цервікального каналу, субмукозні міоми, провести розтин спайок (синехій) або перегородок, зробити резекцію або абляцію ендометрія. Також під час гістероскопії доктор здійснює забір тканини, тобто проводить біопсію ендометрія, з подальшим патогістологічним дослідженням (проведенням мікро- або макроскопії біоматеріалу тканин, вилучених різними методами з патологічних утворень або внутрішніх органів для подальшого їх вивчення та точного визначення діагнозу).</p>

                        <p><strong>Показаннями до проведення процедури є:</strong></p>
                        <ul>
                          <li>Гіперплазія ендометрію;</li>
                          <li>Міома матки;</li>
                          <li>Поліпи ендометрію;</li>
                          <li>Аденоміоз;</li>
                          <li>Внутрішньоматкові синехії (спайки);</li>
                          <li>Маткові кровотечі в період менопаузи;</li>
                          <li>Ациклічні маткові кровотечі;</li>
                          <li>Порушення МЦ (рясні або мізерні менструації, хворобливі менструації, збої циклу);</li>
                          <li>Безпліддя неясного генезу;</li>
                          <li>Підозра на онкозахворювання;</li>
                          <li>Видалення сторонніх предметів (спіраль);</li>
                        </ul>

                        <p><strong>Протипоказання до гістероскопії:</strong></p>
                        <ul>
                            <li>Загальний важкий стан пацієнтки;</li>
                          <li>Рясна маткова кровотеча;</li>
                          <li>Запальне або інфекційне захворювання статевих органів;</li>
                          <li>Гострий запальний процес в організмі;</li>
                          <li>Установлене злоякісне захворювання тіла матки, шийки матки;</li>
                          <li>Нормальна вагітність;</li>
                        </ul>
                        <p><strong>КОЛИ ПРОВОДЯТЬ ГІСТЕРОСКОПІЮ?</strong></p>
                        <p>Гістероскопію краще проводити в період, коли ендометрій невеликої товщини, тобто після
                            завершення менструації до 10 дня менструального циклу.</p>
                        <p>Гістероскопія триває 10-30 хвилин в залежності від патології та анатомічних особливостей.
                            В середньому перебування пацієнта в стаціонарі від 3-ьох до 5-ти годин.</p>

                        <p><strong>ЗАХВОРЮВАННЯ, ЯКІ ЛІКУЄМО ЗА ДОПОМОГОЮ ГІСТЕРОСКОПІЇ</strong></p>
                            <ul>
                                <li><a href="">Гіперплазія ендометрію</a></li>
                                <li><a href="">Аденоміоз</a></li>
                                <li><a href="">Поліпи тіла матки</a></li>
                                <li><a href="">Субмукозна міома матки</a></li>
                                <li><a href="">Синдром Ашермана</a></li>
                            </ul>
                    </div>

                    <br><br>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="{% url 'quick_methods' %}">Назад</a>
                </div>
            </div>
       </div>
   </div>
   </div>
   </div>


{% endblock %}