{% extends 'website/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Лапароскопія – сучасний метод операційного втручання у гінекології.
     Дізнайтеся про переваги, випадки застосування та захворювання, які лікуються за допомогою лапароскопії.">

  <meta name="keywords" content="лапароскопія, гінекологія, операційне втручання, мінімально інвазивна хірургія,
   ризик ускладнень, реабілітація, діагностична лапароскопія, органозберігаючі операції, переваги, захворювання,
   кісти яєчників, міома матки, позаматкова вагітність, рак тіла матки, рак шийки матки">

    <meta name="author" content="Віктор Косменюк">


    {% block title %}
        Лапароскопія | Віктор Косменюк
    {% endblock %}
</head>



{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Лапароскопія</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Головна</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'methods' %}">Методи Лікування</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'quick_methods' %}">Оперативні Методи</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Лапароскопія</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
   <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Методи</p>
                <h1>Лапароскопія</h1>
            </div>

            <div class="wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="text-color size-text">
                        <p><strong>Лапароскопія</strong> – це сучасний метод операційного втручання,
                            у якому замість одного (чи кількох) великих розрізів виконуються невеликі проколи.
                            Через ці проколи в ділянку (черевну або тазову порожнину), що оперується, нагнітають
                            газ і вводять лапароскопи з мініатюрними камерами, що дають точну інформацію про стан
                            органів і тканин в режимі реального часу. Також крізь них вводять спеціальні інструменти,
                            з яких виробляються необхідні маніпуляції.</p>

                        <p>Лапароскопія у гінекології, на відміну від відкритого хірургічного доступу, має
                            мінімальний ризик ускладнень, при цьому є максимально ефективною процедурою при
                            лікуванні основної патології. Загоєння відбувається швидше, маленькі шрами практично
                            не помітні та з часом розсмоктуються, завдяки чому терміни госпіталізації та реабілітації
                            скорочуються.</p>

                        <p><strong>ОСНОВНІ ПЕРЕВАГИ ЛАПАРОСКОПІЇ:</strong></p>

                        <ul>
                          <li>Швидка реабілітація та відсутність помітних рубців та шрамів. Завдяки тому, що розрізи
                              в діаметрі зазвичай не перевищують 1.5 см, така операція найменш травматична для організму
                              в цілому та шкірних покривів зокрема, і не потребує великих часових термінів на відновлення.</li>
                          <li>Менш тривалий термін збереження больових відчуттів. Це, знову ж таки, пов'язане з невеликими
                              розмірами розрізів і означає скорочення періоду прийняття знеболюючих медикаментів.</li>
                          <li>Широкі можливості щодо збереження внутрішніх органів. Наприклад, класична операція з переривання
                              позаматкової вагітності передбачає видалення маткової труби, тоді як лапароскопія дозволяє витягти
                              лише яйцеклітину, зберігши здоров'я і цілісність репродуктивної системи пацієнтки.</li>
                          <li>Повний огляд області, що оперується. Це важливо, з одного боку, для гранично точного проведення
                              операції, з другого – у контексті фіксації на записаному відео всіх дій, вчинених фахівцями.</li>
                        </ul>

                        <p>Лапароскопічні методи можуть використовуватись із двома цілями: для лікування виявленої проблеми,
                            або для ефективної діагностики.</p>

                        <p><strong>Найчастіше до діагностичної лапароскопії вдаються:</strong></p>

                        <ul>
                          <li>Якщо у пацієнтки підозрюють безплідність, але жодні патології статевої системи не діагностувалися
                              ні в неї, ні в її партнера.</li>
                          <li>При підозрі на наявність новоутворень у яєчниках, новоутворень без первинно виявленого осередку.</li>
                          <li>У разі систематичних хворобливих відчуттів у ділянці живота, пояснення яким були виявлено з
                              допомогою інших діагностичних методів.</li>
                          <li>Для оцінки ступеня прохідності маткових труб.</li>
                          <li>Якщо існує ймовірність наявності у пацієнтки міоми</li>
                            <li>При підозрі на наявність гострих патологічних процесів у репродуктивній системі.</li>
                        </ul>
                        <p>У подібних випадках лапароскопія стає методом для уточнення діагнозу, здатним розставити всі
                            крапки над «і» і дати необхідні дані для призначення ефективного лікування.</p>

                        <p><strong>За необхідності в хірургічному втручанні лапароскопічні технології можуть застосовуватися для
                            проведення операцій на:</strong></p>

                        <ul>
                          <li><strong>Матці</strong> - найчастіше йдеться про видалення ендометріоїдних осередків або міом. Робота через
                              невеликі проколи дозволяє виконати ці завдання максимально обережно до органів репродуктивної
                              системи пацієнтки. Іноді це допомагає у вирішенні проблеми безпліддя. За допомогою лапароскопії
                              може бути виконане видалення або ампутація матки (призначається за наявності злоякісних пухлин,
                              великих міом матки у менопаузі).</li>
                          <li><strong>Маткових трубах</strong> - це може бути видалення ембріона для переривання позаматкової вагітності,
                              покращення прохідності маткових труб або стерилізація (штучне створення непрохідності труб).</li>
                          <li><strong>Яєчниках</strong> - за допомогою лапароскопії можна видалити кісти (у тому числі ендометріоїдні),
                              вжити заходів для полегшення виходу яйцеклітини (це може бути, наприклад, надрізання товстих
                              стінок капсули полікістозних яєчників), при апоплексії яєчника. За наявності показань у такий
                              спосіб може бути виконано видалення яєчника.</li>
                        </ul>

                        <p>Всім операціям обов'язково передують консультації з лікарем та діагностичні обстеження.
                            Також лапароскопія потрібна перед плануванням ЕКО (екстракорпорального запліднення), при
                            хронічних тазових болях, при необхідності проведення біопсії яєчників і матки, а також з
                            метою контролю результатів раніше проведеного лікування. У всіх можливих випадках проводяться
                            органозберігаючі операції.</p>

                        <p><strong>Як і будь-яке інше хірургічне втручання, лапароскопія у гінекології має протипоказання
                            для пацієнтів з:</strong></p>

                        <ul>
                          <li>легеневою недостатністю;</li>
                          <li>гострою печінково-нирковою недостатністю;</li>
                          <li>захворюваннями крові;</li>
                          <li>високим ступенем ожиріння;</li>
                          <li>хронічними захворюваннями в стадії декомпенсації;</li>
                            <li>великим спайковим процесом в черевній порожнпорожнині III-го — IV-го ступ;</li>
                            <li>вагітних на пізніх термінах.</li>
                        </ul>
                        <p><strong>КОЛИ ПРОВОДЯТЬ ЛАПАРОСКОПІЮ</strong></p>
                        <p>Лапароскопія виконується з використанням наркозу (ендотрахеального та внутрішньовенного),
                            що підбирається з урахуванням індивідуальних особливостей пацієнтки. Тривалість операції
                            становить від 15-ти хвилин до 2-ох годин в залежності від складності та її обсягів.</p>

                        <p><strong>Зазвичай процес відновлення пацієнтів після такого оперативного втручання йде
                            за наступним алгоритмом:</strong></p>

                        <ul>
                          <li>Протягом 2-3 днів пацієнтка приймає знеболюючі та дотримується постільного режиму.
                              При цьому шви обов'язково обробляються антисептичним розчином, поверх якого накладається
                              стерильна пов'язка. Після першої доби і при хорошому самопочутті можлива виписка зі стаціонару.</li>
                          <li>Через тиждень після операції пацієнтка приходить до клініки для зняття швів (у тому випадку
                              якщо для них були застосовані нитки, що не розсмоктуються).</li>
                        </ul>

                        <p><strong>ЗАХВОРЮВАННЯ, ЯКІ ЛІКУЄМО ЗА ДОПОМОГОЮ ЛАПАРОСКОПІЇ</strong></p>

                        <ul>
                          <li><a href="">Кісти яєчників</a></li>
                          <li><a href="">Розрив яєчника</a></li>
                          <li><a href="">Міома матки</a></li>
                          <li><a href="">Ускладнений гідросальпінкс</a></li>
                          <li><a href="">Позаматкова вагітність</a></li>
                          <li><a href="">Зовнішній ендометріоз</a></li>
                          <li><a href="">Опущення внутрішніх статевих органів</a></li>
                          <li><a href="">Рак тіла матки  на початкових, місцеволокалізованих стадіях</a></li>
                          <li><a href="">Рак шийки матки на початкових, місцеволокалізованих стадіях</a></li>
                        </ul>

                    </div>

                    <br><br>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="{% url 'quick_methods' %}">Назад</a>
                </div>
            </div>
       </div>
   </div>
   </div>

   </div>
{% endblock %}