{% extends 'website/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Лапароскопія та конізація шийки матки: методи, показання, обмеження,
     підготовка і відновлення. Інформація про використання лапароскопії та конізації для лікування різних
      захворювань гінекологічної сфери.">

    <meta name="keywords" content="лапароскопія, конізація шийки матки, гінекологія, методи, показання,
     обмеження, відновлення, лікування, діагностика, рак шийки матки, ендометріоз, кісти шийки матки,
      дисплазія шийки матки">

    <meta name="author" content="Віктор Косменюк">


    {% block title %}
        Радіохвильове лікування | Віктор Косменюк
    {% endblock %}
</head>


{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Радіохвильове лікування</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Головна</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'methods' %}">Методи Лікування</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'quick_methods' %}">Оперативні Методи</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Радіохвильове лікування</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
   <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Методи</p>
                <h1>Конізація шийки матки</h1>
            </div>

            <div class="wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="text-color size-text">
                        <p><strong>Конізація шийки матки</strong> — це хірургічна діагностична чи лікувальна процедура,
                            яка проводиться для отримання зразків або видалення конусоподібного фрагмента тканин шийки матки
                            з подальшим виконанням гістологічного аналізу. Вчасно проведена діагностична конізація дає змогу
                            запобігти онкологічному процесу або виявити його на ранній стадії, тим самим підвищивши ефективність
                            лікування майже до 100 %.</p>

                        <p>Під час проведення конізації лікар вирізає частину шийки матки у формі конуса. Залежно
                            від ступеня тяжкості дисплазії, розмірів і локалізації патологічної ділянки, форми та
                            розмірів шийки матки обсяг видалених тканин, як в абсолютному вимірі, так і щодо шийки
                            матки, може дуже варіювати. Основною відмінністю у виконанні операції конізації є те,
                            що вирізається циркулярно зона трансформації. Весь видалений матеріал гістологічно досліджується.</p>

                        <p><strong>МЕТОДИ КОНІЗАЦІЇ ШИЙКИ МАТКИ, ЯКІ ВИКОРИСТОВУЮ У СВОЇЙ ПРАКТИЦІ</strong></p>
                        <ul>
                          <li><strong>Радіохвильова (або петльова)</strong> - найпоширеніший спосіб проведення конізації
                              шийки матки. Операція проводиться за допомогою радіохвильового апарату з використанням
                              петльового електрода, що дає змогу видаляти тканини з мінімальним ризиком пошкодження
                              прилеглих тканин та рубцюванням. Завдяки специфіці цього методу всі маніпуляції виконуються
                              максимально точно, оскільки під час висічення тканин судини відразу ж коагулюються, й
                              операція стає практично безкровною.</li>
                          <li><strong>Лазерна</strong> - хірургічні маніпуляції виконуються за допомогою дії лазерних
                              променів. Методика найбезпечніша з точки зору кровотеч і не така травматична.</li>
                        </ul>

                        <p><strong>Показання до конізації шийки матки:</strong></p>
                        <ul>
                          <li>ендометріоз шийки матки;</li>
                          <li>ектропіон (виворіт слизової оболонки каналу шийки матки);</li>
                          <li>гіпертрофія шийки матки, рубцева деформація шийки матки як наслідок вагінальних пологів;</li>
                          <li>додаткові утворення (поліпи, кісти шийки матки);</li>
                          <li>виявлення в ПАП-тесті атипових клітин;</li>
                          <li>дисплазія шийки матки помірного, тяжкого ступеня;</li>
                          <li>рак шийки матки на початкових, місцеволокалізованих стадіях (преінвазивний, мікроінвазивний).</li>
                        </ul>

                        <p><strong>Операція не проводиться при:</strong></p>
                        <ul>
                          <li>інфекційно-запальних захворюваннях органів малого тазу;</li>
                          <li>розповсюджені форми раку шийки матки або тіла матки.</li>
                        </ul>

                        <p><strong>КОЛИ ПРОВОДЯТЬ КОНІЗАЦІЮ ШИЙКИ МАТКИ?</strong></p>
                        <p>Жінкам фертильного віку процедура конізації шийки матки проводиться на 5–11 день від
                            початку менструального циклу. Для знеболювання використовується внутрішньовенний наркоз.
                            Залежно від складності клінічного випадку, втручання триває 15–30 хвилин.</p>
                        <p><strong>Необхідно дотримуватись правил підготовки до конізації шийки матки:</strong></p>
                        <ul>
                          <li>слідкувати, щоб останній прийом їжі та пиття був за 6 годин до операції;</li>
                          <li>відмовитись від прийому деяких ліків (якщо рекомендував лікар);</li>
                          <li>відмовитися від статевих контактів за кілька днів до хірургічного втручання;</li>
                          <li>напередодні прийняти душ і поголити волосся з лобка та промежини.</li>
                        </ul>

                        <p><strong>Після операції рекомендовано:</strong></p>
                        <ul>
                          <li>вчасно приймати призначені лікарем антибіотики, загальнозміцнюючі або знеболювальні засоби;</li>
                          <li>уникати статевих контактів;</li>
                          <li>знизити фізичну активність;</li>
                          <li>відмовитись від відвідування басейну, пляжу, лазні, сауни;</li>
                          <li>відмовитися від гарячих ванн (рекомендується гігієна в теплому душі);</li>
                          <li>не піднімати предмети понад 4 кг.</li>
                        </ul>

                        <p><strong>Обмеження повинні дотримуватися до повного загоєння тканин (щонайменше 4 тижні)
                            з обов'язкоми контрольним оглядом у лікаря.</strong></p>

                        <p><strong>ВАГІТНІСТЬ ПІСЛЯ КОНІЗАЦІЇ</strong></p>
                        <p>Після процедури у жінки наявні кров'янисті виділення та незначні болі внизу живота,
                            які нагадують хворобливі відчуття під час менструації. Вони не повинні лякати, бо є
                            варіантом норми. Перші місячні після цієї операції зазвичай триваліші та рясніші.</p>

                        <p>Мій 20-річний досвід роботи в провідному онкологічному лікувальному закладі України показує,
                            що пацієнтки після проведених операцій ексцизій і конізацій на шийці матки вагітніють і
                            самостійно народжують так само, як і жінки з популяції, у яких таких операцій не було.
                            Процедура ніяк не впливає на настання гестації, виношування дитини та пологи.</p>

                        <p><strong>ЗАХВОРЮВАННЯ, ЯКІ ЛІКУЄМО ЗА ДОПОМОГОЮ КОНІЗАЦІЇ ШИЙКИ МАТКИ</strong></p>
                        <ul>
                            <li><a href="">Дисплазія шийки матки ІІ-ІІІ ступеню</a></li>
                          <li><a href="">Рак шийки матки на початкових, місцеволокалізованих стадіях
                              (преінвазивний, мікроінвазивний).</a></li>
                            <li><a href="">Ектропіон</a></li>
                            <li><a href="">Гіпертрофія шийки матки, рубцева деформація шийки матки </a></li>
                            <li><a href="">Ендометріоз, кісти шийки матки</a></li>
                        </ul>
                    </div>

                    <br><br>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="{% url 'quick_methods' %}">Назад</a>
                </div>
            </div>
       </div>
   </div>
   </div>
   </div>

{% endblock %}