{% extends 'website/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Інформація про вагінальну пластику (кольпорафію): методи, показання,
     фактори ризику, види опущення стінок піхви та види кольпорафії. Опис операції, тривалості та періоду
     відновлення. Захворювання, при яких виконують вагінальну пластику.">

    <meta name="keywords" content="вагінальна пластика, кольпорафія, опущення стінок піхви, фактори ризику,
     види кольпорафії, тривалість операції, період відновлення, захворювання, матково-вагінальний пролапс,
     випадіння кукси шийки матки, гінекологія">

    <meta name="author" content="Віктор Косменюк">


    {% block title %}
        Вагінальна пластика | Віктор Косменюк
    {% endblock %}
</head>



{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Вагінальна пластика</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Головна</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'methods' %}">Методи Лікування</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'quick_methods' %}">Оперативні Методи</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Вагінальна пластика</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
   <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Методи</p>
                <h1>Вагінальна пластика</h1>
            </div>

            <div class="wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="text-color size-text">
                        <p><strong>Вагінальна пластика</strong>, пластика піхви або кольпорафія – вид інтимної пластики,
                            операція з виправлення дефектів стінок піхви.</p>

                        <p>Найпоширеніша патологія – опущення стінок піхви – передньої або задньої, обох.
                            Така аномалія створює фізичний дискомфорт, неприємні, болючі відчуття, комплекси в
                            статевому житті, біль при напрузі м’язів черевної області.</p>

                        <p><strong>Існує два основні варіанти опущення стінок піхви:</strong></p>

                        <ol>
                          <li>Опущення передньої стінки, коли вона, часто разом з сечовим міхуром, виступає в піхву
                              (пролапс). Супроводжується нетриманням сечі.</li>
                          <li>Опущення або випинання задньої стінки, часто разом з прямою кишкою. Це призводить
                              до нетримання газів, утруднення дефекації.</li>
                        </ol>

                        <p><strong>Фактори ризику:</strong></p>

                        <ul>
                          <li>Вроджена аномалія.</li>
                          <li>Ускладнення після пологів.</li>
                          <li>Довгі, важкі, травматичні пологи.</li>
                          <li>Народження крупної дитини.</li>
                          <li>Повторні або численні пологи.</li>
                          <li>Видалення матки.</li>
                          <li>Важка фізична праця.</li>
                          <li>Дисплазія сполучної тканини.</li>
                          <li>Травми тазових органів.</li>
                          <li>Гормональні зміни.</li>
                          <li>Частий кашель, хронічний запор, які підвищують внутрішньочеревний тиск.</li>
                        </ul>

                        <p><strong>Виділяють такі види кольпорафії:</strong></p>

                        <ol>
                          <li>Передня кольпорафія – пластика передньої стінки піхви.</li>
                          <li>Задня кольпорафія – пластична операція на задній стінці піхви.</li>
                          <li>Серединна кольпорафія – проводиться на обох стінках піхви.</li>
                        </ol>

                        <p><strong>Операція складається зі схожих завдань:</strong></p>

                        <ul>
                          <li>Корекція форми (зменшення розміру) піхви.</li>
                          <li>Відновлення нормальної анатомії стінок піхви та промежини (перінеопластика).</li>
                          <li>Видалення надлишкових клаптів слизової оболонки стінок піхви.</li>
                          <li>Зшивання м’язів тазового дна (леваторопластика).</li>
                          <li>Видалення старих рубців.</li>
                        </ul>

                        <p><strong>Тривалість операції:</strong> 1-2 години (залежить від складності та виду операції).
                            Операція, як правило, проводиться в умовах стаціонару (7-10 днів).</p>

                        <p><strong>Період відновлення:</strong> Шви внутрішні та розсмоктуються самостійно.
                            Не можна сидіти 7-10 днів після операції. Тимчасові побічні ефекти проходять через 1-2 тижні.
                            Інтимна близькість, фізичні навантаження допустимі через 1-2 місяці.</p>

                        <p><strong>ЗАХВОРЮВАННЯ, ПРИ ЯКИХ ВИКОНУЄМО ВАГІНАЛЬНУ ПЛАСТИКУ:</strong></p>

                        <ul>
                          <li><a href="">Опущення стінок піхви</a></li>
                          <li><a href="">Матково-вагінальний пролапс</a></li>
                          <li><a href="">Випадіння кукси шийки матки або кукси піхви після операції з видалення внутрішніх статевих органів</a></li>
                        </ul>
                    </div>

                    <br><br>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="{% url 'quick_methods' %}">Назад</a>
                </div>
            </div>
       </div>
   </div>
   </div>
   </div>


{% endblock %}