{% extends 'website/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="ua">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="Вульвектомія – хірургічна операція з видалення зовнішніх жіночих статевих органів.
     Часткова та повна вульвектомія, показання та лікування. Рак вульви, лейкоплакія, крауроз вульви. Реабілітація після
      вульвектомії.">

    <meta name="keywords" content="вульвектомія, хірургічна операція, статеві органи, часткова вульвектомія,
    повна вульвектомія, рак вульви, лейкоплакія, крауроз вульви, лікування раку вульви, реабілітація після вульвектомії">

    <meta name="author" content="Віктор Косменюк">


    {% block title %}
        Вульвектомія | Віктор Косменюк
    {% endblock %}
</head>



{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Вульвектомія</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Головна</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'methods' %}">Методи Лікування</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'quick_methods' %}">Оперативні Методи</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Вульвектомія</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
   <div class="container-xxl py-5">
        <p class="container">
            <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Методи</p>
                <h1>Вульвектомія</h1>
            </div>

       <div class="wow fadeInUp" data-wow-delay="0.1s">
       <div class="container">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <div class="text-color size-text">
                        <p><strong style="font-size: 30px">Вульвектомія</strong> – це хірургічна операція, під час якої частково  або  повністю видаляють зовнішні жіночі статеві органи
                        (піхву і її присінок, клітор, статеві губи, а також залози, які знаходяться у промежині).</p>

                        <p>Операція вульвектомія класифікується за <strong>обсягами віддалених тканин:</strong>
                            <ul>
                                <li><i>Часткова проста</i> – хірург видаляє новоутворення й уражені  частини вульви, разом з верхніми шарами прилеглих тканин;</li>
                                <li><i>Часткова радикальна</i> – видаляється частина вульви, наприклад,малі статеві губи, разом з глибокими шарами сусідніх тканин;</li>
                                <li><i>Повна проста</i> – видалення усіх структур вульви;</li>
                                <li><i>Повна радикальна</i> – видалення усіх структур вульв, разом із глибокими шарами сусідніх тканин, зокрема, прилеглими лімфовузлами.</li>
                            </ul>
                        </p>

                        <p>Показання до вульвектомії:
                            <ol>
                                <li><strong>Лейкоплакія, крауроз вульви.</strong></li>
                                <li><strong>Рак вульви</strong> – це онкологічний процес у жіночих зовнішніх статевих органах. Захворювання найчастіше розвивається в жінок похилого віку та займає 4 місце у онкогінекології. Патологія небезпечна тим,
                                що на ранніх стадіях може розвиватися непомітно, тому 60% пацієнток звертаються по допомогу лише на 3-4 стадії захворювання.</li>
                            </ol>
                        </p>


                        <p>На виникнення ракового процесу вказують такі ознаки:
                            <ul>
                                <li>Виникнення пухлини в області зовнішніх статевих органах, яка може являти собою поверхневий нарост,
                                    схожий на родимку, виразку на шкірі або ущільнення всередині тканин;</li>
                                <li>Запалення уражених тканин;</li>
                                <li>Сухість шкіри, зміна її кольору;
                                <li>Дискомфорт в області геніталій, у тому числі — під час статевого акту або сечовипускання;</li>
                                <li>Поява патологічних виділень, які мають незвичну консистенцію та колір, з'являються між черговими менструаціями;</li>
                                <li>Болючість та збільшення лімфовузлів в області паху.</li>
                            </ul>
                        </p>

                        <p>У більшості випадків при радикальній вульвектомії може бути проведена пластика місцевими тканинами,
                            якими формують статеві губи та піхву. При великих площах тканин, що висікаються,
                            можуть знадобитися шкірні клапті з інших областей тіла.
                        У пацієнток, яким була проведена вульвектомія, реабілітація залежить від обсягу видалених тканин.
                            Чим більше структур довелося вирізати, тим довшим та складнішим буде відновлювальний період.</p>

                        <strong>ЗАХВОРЮВАННЯ, ЯКІ МИ ЛІКУЄМО:</strong>
                                        <ul>
                                            <li><a href="#">Лейкоплакія та крауроз вульви</a></li>
                                            <li><a href="#">Рак вульви</a></li>
                                        </ul>
                    </div>

                    <br><br>
                    <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="{% url 'quick_methods' %}">Назад</a>
                </div>
            </div>
       </div>
   </div>
   </div>

{% endblock %}