{% extends 'website/base.html' %}
{% load static %}

{% block title %}
    Видалити Пост
{% endblock %}



{% block content %}
    <!-- Page Header Start -->
    <div class="container-fluid page-header py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container py-5">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Новини</h1>
            <nav aria-label="breadcrumb animated slideInDown">
                <ol class="breadcrumb text-uppercase mb-0">
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'home' %}">Головна</a></li>
                    <li class="breadcrumb-item"><a class="text-white" href="{% url 'blog' %}">Новини</a></li>
                    <li class="breadcrumb-item text-primary active" aria-current="page">Видалити Пост</li>
                </ol>
            </nav>
        </div>
    </div>
    <!-- Page Header End -->
    {% if user.is_authenticated %}
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                <p class="d-inline-block border rounded-pill py-1 px-4">Пост</p>
                <h1>Видалити Пост</h1>
    </div>
        <div class="container col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="bg-light rounded h-100 d-flex align-items-center p-5">
            <form method="post" class="max-auto">
                {% csrf_token %}
                <h3>Видалити пост "{{ post.title }}"</h3>
                <br>
                <h5><strong>Ви впевнені?</strong></h5><br>
                    <div class="col-12">
                        <button class="btn btn-danger py-3" type="submit">Видалити</button>
                    </div>
            </form>
        </div>
        </div>
    <br><br>
    <div class="container col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
        <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="{% url 'blog' %}">Назад</a>
    </div>

    <br><br><br>
        {% else %}
    <div class="container text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
        <h1>Ви не війшли в акаунт!</h1><br><br><br>
    </div>

{% endif %}
{% endblock %}